.copasa{
    &__programa{
        img{
            max-width: 100%;
            width: 100%;
        }
    }

    &__localidades{

        display: flex;
        flex-direction: column;
        padding: 1rem;

        &__map{
                max-width: 80%;
                align-self: center;
        }
        
        &__list{
            align-self: flex-end;
            margin-top: -5rem;
            p{
                display: flex;
                align-items: center;
                line-height: 2rem;
                margin-bottom: 0;

                span{
                    font-size: 5rem;
                }

                &:nth-child(1){
                    span{
                        color: $color-blue;
                    }
                }
                &:nth-child(2){
                    span{
                        color: $color-orange;
                    }
                }
                &:nth-child(3){
                    span{
                        color: $color-green;
                    }
                }
            }
        }

        &__topic{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 2rem;

            &__item{
                display: flex;
                flex-direction: row;
                align-items: center;

                p{
                    border: 1px solid black;
                    border-radius: 1rem;
                    padding: 1rem;
                    font-size: 2rem;
                    text-align: center;
                    margin: 0;
                    max-height: 7rem;
                }

                img{
                    max-height: 8rem;
                    margin-right: -2rem;
                    display: block;
                    z-index: 1;
                }
                
                &:nth-child(even)
                {
                    flex-direction: row-reverse;
                    
                    img{
                        margin-right: 0;
                        margin-left: -2rem;

                    }
                }
            }
        }
    }

    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        height: 100%;

        h2{
            margin: auto;
            display: inline-block;
            width: auto;
            white-space: pre;
            font-size: 6rem;
            line-height: .95;
        }

        &--small{
            h2{
                font-size: 5rem;

                @include media-breakpoint-down(lg) {
                    font-size: 3.5rem;
                }
            }
        }
    }

    &__link{
        display: flex;
        flex-direction: column;
        padding: 3rem 0 1rem;
        height: 100%;
        width: 100%;

        &__content{
            margin: auto 0;
            text-align: center;
            
            img{
                max-width: 40%;
                margin-bottom: 2rem;
            }

            h3{
                font-size: 2rem;
                text-transform: none;
                white-space: pre;
                width: 100%;
            }
        }

        &__button{
            background-color: $color-green;
            border-radius: .5rem;
            max-width: 80%;
            margin: auto;
            margin-top: 2rem;

            p{
                font-size: 2.4rem;
                color: $color-white;
                font-weight: 900;
                text-align: center;
            }
        }   

        &__click-icon{
            max-width: 12%;
            align-self: flex-end;
            margin-bottom: 0;    
        }

        @include media-breakpoint-down(md) {
            padding: 3rem 1rem 1rem ;
        }
    }

    &__galeria{
        &__item{
            height: 0;
            margin-bottom: 4rem;
            width: 100%;
            padding-top: 100%;
            position: relative;

            img{
                top: 0;
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 1rem;
                object-position: center;
                object-fit: cover;
            }
        }            
    }

    &__universalisa{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        img{
            max-width: 95%;
        }
    }

    &__email{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        p{
            border: 1px solid $color-blue-light;
            border-radius: 1rem;
            font-size: 1.1rem;
            padding: .5rem 2rem .5rem 1rem;
            text-align: center;
            margin: 0;
            max-height: 7rem;
        }

        img{
            max-height: 6rem;
            margin-left: -1rem;
            display: block;
            z-index: 1;
        }
        
    }

    &__contato{
        min-height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 2rem;
        padding-bottom: 2rem;

        @include media-breakpoint-down(md) {
            min-height: 0;
        }
    }
}