.copasa{

    &__banner{
        padding-top: 0;
        position: relative;
        
        &__bg{
            position: relative;

            img{
                width: 100%;
                height: auto;
                
                &:nth-child(2){
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        &__logo{
            position: absolute;
            width: 100%;
            top:15%;
            left: 0;
            right: 0;            
        }
    }

    &__programa{
        img{
            max-width: 100%;
            width: 100%;
        }
    }

    &__acontecendo{
        background-image: url(../img/pics/bg-4.svg);
        background-size: cover;
    }

    &__participacao{
        &__item{

            display: flex;
            justify-content: space-evenly;

            img{
                align-self:flex-start;
                float: left;
                margin-right: 1rem;
            }

            
            &:last-child{
                margin-left: calc(140px + 1rem);
            }
            
            @include media-breakpoint-down(sm) {      
                display: block;
                
                &:last-child{
                    margin-left: 0;
                }
            }
        }
    }

    &__localidades{

        background-image: url(../img/pics/bg-2.svg);
        background-size: cover;
        
        &__map{
            display: flex;
            flex-direction: column;
            padding: 1rem;

            &__img{
                    max-width: 80%;
                    align-self: center;
                    align-self: flex-start;
            }
            
            &__list{
                align-self: flex-end;
                margin-top: -8rem;
                
                p{
                    display: flex;
                    align-items: center;
                    line-height: 3rem;
                    margin-bottom: 0;
                    font-size: 2rem;

                    span{
                        font-size: 8rem;
                    }

                    &:nth-child(1){
                        span{
                            color: $color-blue-medium;
                        }
                    }
                    &:nth-child(2){
                        span{
                            color: $color-orange;
                        }
                    }
                    &:nth-child(3){
                        span{
                            color: $color-green;
                        }
                    }
                }
            }
        }

        &__topic{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-left: 2rem;

            &__item{
                display: flex;
                flex-direction: row;
                align-items: center;

                p{
                    border: 1px solid black;
                    border-radius: 1rem;
                    padding: 1rem;
                    font-size: 2rem;
                    text-align: center;
                    margin: 0;
                    max-height: 6rem;
                    background-color: $color-white;
                    line-height: 1;
                }

                img{
                    max-height: 8rem;
                    margin-right: -2rem;
                    display: block;
                    z-index: 1;
                }
                
                &:nth-child(even)
                {
                    flex-direction: row-reverse;
                    
                    img{
                        margin-right: 0;
                        margin-left: -2rem;

                    }
                }
            }
        }
    }

    &__conheca{

        background-image: url(../img/pics/bg-4.jpg);
        background-size: contain;


        &__content{
            a{
                display: block;
                background-color: $color-blue-medium;
                border: 2px solid $color-white;
                border-radius: 5rem;
                width: 100%;
                margin: 1rem auto;
                padding: .5rem;
    
                p{
                    font-size: 2.4rem;
                    color: $color-white;
                    font-weight: 900;
                    text-align: center;
                    margin: 0;
                    text-transform: uppercase;
                }
            }
        }
    }

    &__link{
        padding: 1.5rem;
        border-radius: .5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        & > div{
            height: 100%;
        }

        &__container{
            display: flex;
            flex-direction: column;
            padding: 3rem 0 1rem;
            height: 100%;
            width: 100%;
            background-color: $color-white;

            &__content{
                margin: auto 0;
                text-align: center;
                
                img{
                    max-width: 40%;
                    margin-bottom: 2rem;
                }

                h3{
                    font-size: 1.6rem;
                    text-transform: none;
                    width: 100%;
                }
            }

            &__button{
                background-color: $color-green;
                border-radius: .5rem;
                max-width: 80%;
                margin: auto;
                margin-top: 2rem;

                p{
                    font-size: 2.4rem;
                    color: $color-white;
                    font-weight: 900;
                    text-align: center;
                }
            }   

            &__click-icon{
                max-width: 12%;
                align-self: flex-end;
                margin-bottom: 0;    
            }

            @include media-breakpoint-down(md) {
                padding: 3rem 1rem 1rem ;

                &__content{                    
                    img{
                        max-width: 15rem;
                    }

                    h3{
                        font-size: 2rem;
                    }
                }

                &__click-icon{
                    max-width: 4rem;
                }
            }
        }
    }

    &__galeria{
        position: relative;

        @include media-breakpoint-down(md) {
            padding-bottom:7rem;
        }

        &__item{
            position: relative;
            padding-top: 100%;
            
            img{
                border: 2px solid white;
                border-radius: 5px;
                position: absolute;
                top: 1rem;
                left: 1rem;
                width: calc(100% - 2rem);
                height: calc(100% - 2rem);
                object-fit: cover; 
                object-position: center;
            }
        }         
        
        .slick-arrow {
            position: absolute;
            top: 50%;
            bottom: 50%;
            margin: auto;
            
            &:first-child{
                left: -5rem;
            }
            &:last-child{
                right: -5rem;
            }

            @include media-breakpoint-down(md) {
                &:first-child{
                    left: 5rem;
                }
                &:last-child{
                    right: 5rem;
                }

                top: auto;
                bottom: 0;
            }
        }
    }

    &__marco{
        padding: 2rem 2rem 1rem;
        p{
            vertical-align: middle;
            font-size: 1.6rem;

            span{
                vertical-align: middle;
                font-size: 3rem;
                line-height: 1.2;
            }
        }
    }

    &__universalisa{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        img{
            max-width: 95%;
        }
    }

    &__email{
        position: relative;
        width: 100%;

        p{
            border: 1px solid $color-blue-light;
            border-radius: 1rem;
            font-size: 1.6rem;
            padding: .5rem 4rem .5rem 1rem;
            text-align: center;
            margin: 3rem 0;
            max-height: 7rem;
            background-color: $color-white;
        }

        img{
            position: absolute;
            max-height: 8rem;
            display: block;
            right: 0;
            top: 50%;
            bottom: 50%;
            margin: auto;
        }
        
    }

    &__contato{
        position: relative;
        padding: 0;
        overflow-y: visible;

        &__bg{
            position: absolute;
            width: 100%;
            bottom: 0;
            img{
                width: 100%;
                height: auto;
            }
        }

        &__content{
            position: relative;
            z-index: 1;
            padding-bottom: 6rem;
            
            @include media-breakpoint-down(md) {
                padding-bottom: 4rem;
            }
            
        }
    }
}