
html{
    font-size: 10px;
    line-height: initial;
    font-family: 'Roboto';
    max-width: 100vw;
    overflow-x: hidden;

    @include media-breakpoint-down(md) {
        font-size: 9px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 8px;
        white-space: normal;
    }

}

body {
    overflow-x: hidden;
    margin: 0;
    padding-top: 8rem;
}

section{
    padding: 5rem 0;

    @include media-breakpoint-down(md) {
        padding: 3rem 0;
    }

    @include media-breakpoint-down(sm) {
        padding: 1rem 0;
    }
}

a {
    text-decoration: none !important;
    width: fit-content;
    height: fit-content;

    color: inherit !important;

    &:not([href]):not([tabindex]) {
        color: inherit;
    }

    &:hover, &:visited, &:active {
        color: inherit !important;
        text-decoration: inherit !important;
    }
}

a.anchor {
    display: block;
    position: relative;
    top: -5.5rem;
    text-align: center;
    visibility: visible;
    margin: auto;
    height: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    display: block;
    width: 100%;
    color: $color-black;
    white-space: pre-line;
}

p {
    font-family: 'Roboto Regular';
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 1.5rem;
    font-weight: 100;
    line-height: 1.5;
    white-space: pre-line;

    b{
        font-weight: 900;
        font-family: 'Roboto Bold';
    }
    
    &.small{
        font-size: 1.8rem;
        line-height: 1.3;
    }

}

h1{
    color: $color-blue;
    line-height: 1;
    font-family: 'Roboto bold';  
    text-transform: uppercase;
    text-align: left;
    font-size: 3rem;
    white-space: pre-line;
    font-weight: 900;

    b{
        font-family: 'Roboto Black';
    }

    @include media-breakpoint-down(sm) {
        white-space: normal;
    }

    @include media-breakpoint-down(xs) {
    }
}

h2,h3, h4 {
    font-family: 'Roboto Bold';  
    text-align: left;
    font-size: 4rem;
    text-transform: uppercase;

    b{
        font-family: 'Roboto Black';
    }

    @include media-breakpoint-down(xs) {
        white-space: normal;
    }
}

h3{
    font-size: 2.5rem;

    span{
        font-family: 'Roboto Regular';  
    }
}

h4{
    font-size: 2rem;

    span{
        font-family: 'Roboto Regular';  
    }
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }